<nav>
  <div class="nav-buttons">
    <% if logged_in? %>
      <%= link_to root_path, remote: true, method: :get do %>
        <button>My Account</button>
      <% end %>
    <% else %>
      <%= link_to login_path, remote:true, id: 'login', method: :get do %>
        <button>Sign In</button>
      <% end %>
    <% end %>
    <% if logged_in? %>
      <%= link_to logout_path, remote:true, id: 'logout', method: :delete do %>
        <button>Logout</button>
      <% end %>
    <% else %>
       <%= link_to register_path, remote:true, id: 'register', method: :get do %>
        <button>Register</button>
      <% end %>
    <% end %>

    <% if @current %>
      <%= link_to root_path, remote: true, method: :get do %>
        <button>Back To Game</button>
      <% end %>
    <% else %>
      <%= link_to users_leaderboard_path, remote: true, method: :get do %>
        <button>Leaderboard</button>
      <% end %>
    <% end %>

    <% if logged_in? %>
      <div class="my-friends">
        <%= link_to friends_path, remote: true, method: :get do %>
            <button>My Friends</button>
          <% end %>
        <div class="friend-search-results">
        </div>
      </div>
    <% end %>
  </div>

  <%= form_tag(search_path, :method => "get", id: "search-form", remote:true) do %>
      <%= text_field_tag :username, params[:username], placeholder: "Find A User", :id => "search-field" %>
    <div class="search-results">
    </div>
  <% end %>
 

  <%= render 'shared/logged-in' %>
</nav>
